body{
    margin:0;padding: 0;
}
 @media screen and (min-width:768px){
    body{
        background-color:#fff;
    }
    .div_p{ 
        position: relative;
        top:50%;  
    }
    .zhuCe_span{
        /* display: block;
        margin-top: 30px;  */
         position: absolute;
        top:150%;
        left:-20%;
    }
}
 /* @media screen and (min-width:577px) and (max-width:768px){
    body{
        background-color: pink;
        width:100%;
        height:100%;
    }   */
 @media screen and (max-width:576px){
    body{
        background-color:pink;
        
    }
}

.textBold{
    font-weight:bolder;
}
li .textTop {
    color:black;
    font-weight: bold;
    font-size:15px;
    text-decoration:none;
}
div a.zhuCe{
    text-decoration: none;
}
/* .div_p{ 
    position: relative;
    top:50%;

} */
.text_p{
    font-weight: bold;
}
.starBuckGreen{
    color:#00A862;
    font-size:18px;
}
.starBuckR{
    border: 1px solid #00A862;
    border-radius: 48px;
    color: #00A862;
    font-size: 18px;
    padding: 6px 18px;
}
/* .zhuCe_span{
    display: block;
    margin-top: 30px; 
     position: absolute;
    top:10%;
    left:10%; 
} */
.img1_p{
   position: relative;
   top:0px;
   left:100px;
}
.img2_p{
    position: relative;
    top:0px;
    left:120px;
}
.ad_1{
    width:100%;
    height:100%;
}
.a_hov :hover{
    transform: scale(1.2);
    margin-left: 10px;
}
#content .nav_link_t{
    color:black;
    font-weight: bolder;
}
.logo_wh{
    width:36px;
    height: 36px;
}
