body{
    margin:0;padding: 0;
}
 @media screen and (min-width:900px){
    .div_p{ 
        position: fixed;
        top:20rem;  
    }
    .zhuCe_span{
         position: relative;
        top:150%;
        left:-20%;
    }
    .toFixed{
        position: fixed;
    }
    .card>a:hover{
        transform: translateY(-5px);
        transition-duration: 0.3s;
    }
    .line_a :hover{
        transform: translateY(-5px);
        transition-duration: 0.3s;
    }
    .border_01{
        border: 10px dashed #998877;
        margin-left: 25%;
        padding-left: 1%;
    }
    .div_flex_p>a :hover{
        transform: translateY(-5px);
        transition-duration: 0.3s;
    }
    .flex_menu{
        border:8px solid #00A862;
        background: #00A862;
        color: #FFF;
        border-radius:48px;
        position: fixed;
        left: 90%;
        top: 90%
    }
    .flex_menu:hover{
        color:pink;
    }
    .table_p{
        position: relative;
        left: 35%;
        top: 1%;
    }
    .click_page {
        position: absolute;
        left: 18rem;
        top: 8rem;
    }
    .close_p_2 {
        position: absolute;
        left: 33rem;
        top: -4rem;
    }
    .img_search {
        position: absolute;
        left: 16rem;
        top:0rem;
    }
 
    
}
  @media screen and (min-width:577px) and (max-width:891px){
    body{
        clear: left;
        margin: 0;padding: 0;
        background: #000;
    }
    .text_padd{
        padding-left: 5rem;
        padding-top: 5%;
    }
    .text_light{
        color:gray;
        margin-left:-25%;
    }
    p.btn_p{
        margin-left: -55%;
    }
    div>img.logo_msr{
        padding-left: 4rem;
        padding-top: 5%;
    }
    .sm_p{
        max-width:50% ;
    }
    .border_01 {
        border: 1px solid #fff;
        margin-left: 0%;
    }
    .bottom_ad{
        display: none;
    }
   .div_p{
       display:none;
   }
   .title_top{
       position: relative;;
       left: 25%;
       top:10%;
   }
   .div_flex_p{
    width:50%;
   }
   #click_tit{
       display: none;
   }
   .flex_menu{
    border:3px solid #00A862;
    background: #00A862;
    color: #FFF;
    border-radius:48px;
    position: fixed;
    left: 70%;
    top: 90%
   }
   .table_p {
    position: relative;
    left: 15%;
    top: 25px;
  } 

}

@media screen and (max-width:571px){ 
    body{
        clear: left;
        margin: 0;padding: 0;
    }
    .text_padd{
        padding-left: 5rem;
        padding-top: 5%;
    }
    .text_light{
        color:gray;
        margin-left:-25%;
    }
    p.btn_p{
        margin-left: -55%;
    }
    div>img.logo_msr{
        padding-left: 4rem;
        padding-top: 5%;
    }
    .sm_p{
        max-width:50% ;
    }
    .border_01 {
        border: 1px solid #fff;
        margin-left: 0%;
    }
    .bottom_ad{
        display: none;
    }
   .div_p{
       display:none;
   }
   .title_top{
       position: relative;;
       left: 25%;
       top:10%;
   }
   .div_flex_p{
    width:50%;
   }
   #click_tit{
       display: none;
   }
   .flex_menu{
    border:3px solid #00A862;
    background: #00A862;
    color: #FFF;
    border-radius:48px;
    position: fixed;
    left: 70%;
    top: 90%
   }
   .table_p {
    position: relative;
    left: 15%;
    top: 25px;
  }
   .img_search{
    position: absolute;
    left:13rem;
    top: 0%;
} 
 .close_p_2{
    position: absolute;;
    left: 14rem;
    top: -5rem;
} 
 .click_page{
    position: absolute;;
    left:3rem;
    top:7rem;
} 
  
}
/* --------------------------------------------------------------------------------------------------------------------- */
.navbar {
    padding: 0.5rem 0rem;
}
.textBold{
    font-weight:bolder;
}
li .textTop {
    color:black;
    font-weight: bold;
    font-size:15px;
    text-decoration:none;
}
div a.zhuCe{
    text-decoration: none;
}
.text_p{
    font-weight: bold;
}
.starBuckGreen{
    color:#00A862;
    font-size:18px;
}
.starBuckR{
    border: 1px solid #00A862;
    border-radius: 48px;
    color: #00A862;
    font-size: 18px;
    padding: 6px 18px;
}

.img1_p{
   position: relative;
   top:2rem;
   left:5rem;
   /* left:100px; */
}
.img2_p{
    position: relative;
    top:2rem;
    left:7rem;
    /* left:120px; */
}
.ad_1{
    width:100%;
    height:100%;
}
#content .nav_link_t{
    color:black;
    font-weight: bolder;
}
.logo_wh{
    width:36px;
    height: 36px;
}
.image_page{
    width:100%;
    height:100%; 
    float: left;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}
.tag_ad {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px 6px;
    color: #fff;
    background-color: #000;
    font-size: 0.2rem;
    line-height: 180%;
    opacity: 0.6;
    border-radius: 2px;
    z-index: 100;
}
.card{
 position: relative;
 display: flex;
 margin-left: 5%;
}
.border_l{
    border:3px solid rgba(0, 0, 0, 0.12);
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.second_text{
    font-size: 1.3rem;
    font-weight:normal;
}
.text_light{
    color:gray;
}
.text_padd{
    padding-left: 6rem;
    padding-top: 10%;
}
#toknowmore{
    color:#C2A661;
    text-decoration: none;
}
.btn_p{
    margin-left: -27%;
    margin-bottom: 10%;
}
.logo_msr{
    padding-left: 10rem;
    padding-top: 20%;
}
.starbuck_p{
    text-align: center;
    padding-top: 2%;
}
.third_text{
    font-size: 1rem;
    font-weight: bold;
    color:#000;
}
a.line_a{
    text-decoration: none;
}
#toknowmore2{
    color:#C2A661;
    font-size: 0.1rem;
    display:block;
    padding-top:10%;
}

.starcard_p{
   width:95px;
   height:72px;
}
.bottom_p{
    width:100%;
    height:100%;
}

.text_dark{
    font-size: 1rem;
    color:#000;
    text-align: center;
}
.back_p{
    width:100%;
    height:168px;
    border-radius: 5%;
    background-image: url(../image/bottom01.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto 6px;
}
.back_p2{
    width:100%;
    height:168px;
    border-radius: 5%;
    background-image: url(../image/bottom02.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto 6px;
}
.back_p3{
    width:100%;
    height:168px;
    border-radius: 5%;
    background-image: url(../image/bottom03.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto 6px;
}
.tag{
    border-radius: 10%;
    font-size: 0.1rem;
    background: #C2A661;
    color: #FFF;
    position: absolute;
    padding: 4px 12px;
    left: 15px;
    top: 0px;
}
.first_p{
    padding-top: 2%;
    padding-bottom:2%;
}
.md_p{
    margin:0;
    padding:0;
}
.text_p a{
    text-decoration:none;
    color: #000;
}
.bottom_ad{
    background-image: url(../image/register_bottom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:255px;
    position: relative;
}
.b_t{
    color:white;
}
.b_p{
    position: absolute;
    left:20%;
    top:15%;
}
.azhuce{
    border:1px solid #C2A661;
    border-radius: 48px;
    color: #C2A661;
    font-size: 18px;
    padding: 6px 18px;
}
.b_p a{
    text-decoration: none;
}
.txt_focus{
     border-top:5px solid #00A862;
    border-left:3px solid #00A862;
    border-right:3px solid #00A862;
    /* border-bottom: 3px solid #00A862; */
}
.div_p>ul>li>a.a_click{
    color:#00A862;
    border-bottom: 2px solid #00A862; 
}
.d_none{
    display: none;
}
.pig_p{
    position: relative;
    left: 0%;
    top: 0%;
}
.reg_right{
    display: none;
}
.reg_fault{
    display:none;
}
.btn_reg{
    border:3px solid #C2A661;
    color: #00A862;
}
.a_btn_p{
    margin: 1%;
}
.drink_bold{
    font-weight: bolder;
}
.div_p>ul>li>a{
    text-decoration: none;
}
.ul_p{
    width: 100%;height: 100%;
    display:flex;
    margin-top: -120%;
    margin-left: 50%;
    flex-direction: column;
    align-content: center;
    position: relative;
}
.pro_pic{
    width: 8rem;
    height:8rem;
    border: 2px solid #998877;
    border-radius: 50%;
    /* background-image: url("../image/products/drink/affogato.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto 6px;
}
.pro_pic01{
    background-image: url("../image/products/drink/affogato.jpg");
}
.pro_pic02{
    background-image: url("../image/products/drink/cold-brew-float.jpg");
}
.pro_pic03{
    background-image: url("../image/products/drink/cold-brew-malt.jpg");
}
.pro_pic04{
    background-image: url("../image/products/drink/cold-brew.jpg");
}
.pro_pic05{
    background-image: url("../image/products/drink/vanilla-flavor-sweet-cream-cold-brew.jpg");
}
.pro_pic06{
    background-image: url("../image/products/drink/cold-foam-cold-brew.jpg");
}
.pro_pic401{
    background-image: url("../image/products/drink/caffe-americano.jpg");
}
.pro_pic402{
    background-image: url("../image/products/drink/caffe-latte.jpg");
}
.pro_pic403{
    background-image: url("../image/products/drink/caffe-mocha.jpg");
}
.pro_pic404{
    background-image: url("../image/products/drink/cappuccino.jpg");
}
.pro_pic410{
    background-image: url("../image/products/drink/caramel-macchiato.jpg");
}
.pro_pic411{
    background-image: url("../image/products/drink/espresso.jpg");
}
.pro_pic412{
    background-image: url("../image/products/drink/extra-shot-mocha.jpg");
}
.pro_pic413{
    background-image: url("../image/products/drink/flat-white.jpg");
}
.pro_pic414{
    background-image: url("../image/products/drink/hazelnut-flavored-latte.jpg");
}
.pro_pic415{
    background-image: url("../image/products/drink/vanilla-flavored-latte.jpg");
}
.pro_pic501{
    background-image: url("../image/products/drink/caramel-espresso-frappuccino.jpg");
}
.pro_pic502{
    background-image: url("../image/products/drink/espresso-frappuccino.jpg");
}
.pro_pic503{
    background-image: url("../image/products/drink/green-tea-frappuccino.jpg");
}
.pro_pic504{
    background-image: url("../image/products/drink/mango-passion-tea.jpg");
}
.pro_pic505{
    background-image: url("../image/products/drink/mocha-frappuccino.jpg");
}
.pro_pic506{
    background-image: url("../image/products/drink/mocha-java-chip-frappuccino.jpg");
}
.pro_pic507{
    background-image: url("../image/products/drink/vanilla-flavored-cream-frappuccino-blended-beverage.jpg");
}
.pro_pic600{
    background-image: url("../image/products/drink/nitro-cold-brew.jpg");
}
.pro_pic700{
    background-image: url("../image/products/drink/signature-chocolate-beverage.jpg");
}
.pro_pic801{
    background-image: url("../image/products/drink/black-tea-latte.jpg");
}
.pro_pic802{
    background-image: url("../image/products/drink/green-tea-latte.jpg");
}
.pro_pic803{
    background-image: url("../image/products/drink/iced-shaken-honey-ruby-grapefruit-black-tea.jpg");
}
.pro_pic804{
    background-image: url("../image/products/drink/blackcurrant-raspberry.jpg");
}
.pro_pic805{
    background-image: url("../image/products/drink/iced-shaken-mango-herbal-juiced-tea.jpg");
}
.pro_pic806{
    background-image: url("../image/products/drink/iced-shaken-peach-green-tea.jpg");
}
.coffee_txt{
    margin-right:30%;
    font-size:16px;
    font-weight:bolder;
    text-align:center;
}
.pro_pic_f1{
    background-image: url("../image/products/food/american-style-pancakes.jpg")
}
.pro_pic_f2{
    background-image: url("../image/products/food/blueberry-muffin.jpg")
}
.pro_pic_f3{
    background-image: url("../image/products/food/chocolate-muffin.jpg")
}
.pro_pic_f4{
    background-image: url("../image/products/food/cinnamon-swirl.jpg")
}
.pro_pic_f5{
    background-image: url("../image/products/food/french-butter-croissant.jpg")
}
.pro_pic_f6{
    background-image: url("../image/products/food/french-caramel-bread.jpg")
}
.pro_pic_f7{
    background-image: url("../image/products/food/hazelnut-croissant.jpg")
}
.pro_pic_f8{
    background-image: url("../image/products/food/honey-raisin-scone.jpg")
}
.pro_pic_f9{
    background-image: url("../image/products/food/oat-caramel-pudding-bread.jpg")
}
.pro_pic_f10{
    background-image: url("../image/products/food/premium-chocolate-croissant.jpg")
}
.pro_pic_f11{
    background-image: url("../image/products/food/raisin-scone.jpg")
}
.pro_pic_f12{
    background-image: url("../image/products/food/raisins-walnut-bread.jpg")
}
.pro_pic_f13{
    background-image: url("../image/products/food/red-bean-oats-scone.jpg")
}
.pro_pic_f14{
    background-image: url("../image/products/food/whole-wheat-walnut-muffin.jpg")
}
.pro_pic_f15{
    background-image: url("../image/products/food/blueberry-and-cookie-style-cheesecake.jpg")
}
.pro_pic_f16{
    background-image: url("../image/products/food/classic-swiss-roll-cake.jpg")
}
.pro_pic_f17{
    background-image: url("../image/products/food/triple-dark-chocolate-cake.jpg")
}
.pro_pic_f18{
    background-image: url("../image/products/food/eclair.jpg")
}
.pro_pic_f19{
    background-image: url("../image/products/food/starbucks-coffee-tiramisu.jpg")
}
.pro_pic_f20{
    background-image: url("../image/products/food/macaron.jpg")
}
.pro_pic_f21{
    background-image: url("../image/products/food/new-york-style-creamy-cheesecake.jpg")
}
.pro_pic_f22{
    background-image: url("../image/products/food/cashews.jpg")
}
.pro_pic_f23{
    background-image: url("../image/products/food/shortbread.jpg")
}
.pro_pic_f24{
    background-image: url("../image/products/food/fruitnnuts.jpg")
}
.pro_pic_f25{
    background-image: url("../image/products/food/fruit-salad.jpg")
}
.pro_pic_f26{
    background-image: url("../image/products/food/lollipops.jpg")
}
.pro_pic_f27{
    background-image: url("../image/products/food/waferrolls.jpg")
}
.pro_pic_f28{
    background-image: url("../image/products/food/starbucks-chewing-gum.jpg")
}
.pro_pic_f29{
    background-image: url("../image/products/food/Starbucks-mints.jpg")
}
.pro_pic_f30{
    background-image: url("../image/products/food/avocado-and-chicken-bagel.jpg")
}
.pro_pic_f31{
    background-image: url("../image/products/food/bacon-and-egg-croissant-bun.jpg")
}
.pro_pic_f32{
    background-image: url("../image/products/food/bacon-and-egg-wrap.jpg")
}
.pro_pic_f33{
    background-image: url("../image/products/food/beef-baguette.jpg")
}
.pro_pic_f34{
    background-image: url("../image/products/food/beef-cheese-croissant.jpg")
}
.pro_pic_f35{
    background-image: url("../image/products/food/caesar-chicken-wrap.jpg")
}
.pro_pic_f36{
    background-image: url("../image/products/food/chicken-panini.jpg")
}
.pro_pic_f37{
    background-image: url("../image/products/food/eggs-mushroom-shrimp-wrap.jpg")
}
.pro_pic_f38{
    background-image: url("../image/products/food/ham-and-cheese-croissant.jpg")
}
.pro_pic_f39{
    background-image: url("../image/products/food/ham-and-double-cheese-croque-monsieur.jpg")
}
.pro_pic_f40{
    background-image: url("../image/products/food/ham-and-gouda-sandwich.jpg")
}
.pro_pic_f41{
    background-image: url("../image/products/food/pastrami-sandwich.jpg")
}
.pro_pic_f42{
    background-image: url("../image/products/food/roasted-french-ham-egg-sandwich.jpg")
}
.pro_pic_f43{
    background-image: url("../image/products/food/slow-roasted-ham-cheese-ciabatta.jpg")
}
.pro_pic_f44{
    background-image: url("../image/products/food/tuna-panini.jpg")
}
.pro_pic_f45{
    background-image: url("../image/products/food/turkey-bacon-english-muffin.jpg")
}
.pro_pic_f46{
    background-image: url("../image/products/food/greek-flavored-yoghurt-mixed-berry.jpg")
}
.pro_pic_f47{
    background-image: url("../image/products/food/greek-flavored-yoghurt-yellow-peach.jpg")
}

.bg_fix li>a{
    text-decoration: none;
    font-weight: bolder;
    color: #000;
    font-size:20px;
}
.bg_fix{
position:fixed;
position:absolute;
width:100%;
height:100%;
left:5rem;
top:13rem;
background:#fff;
}
.sub_p{
    display:inline;
    margin: 50% -35%;
}
.sub_p>a{
    text-decoration: none;
    color: gray;
    font-size: 10px;
}
#click_tit>a>img{
    display: block;
    margin-left:60%;
}
.img_police{
    width:11px;
    height:11px;
}
.txt_align{
    text-align: center;
}
.text_style{
    font-size: 13px;
    font-weight: bold;
}
.div_flex_p>a{
    text-decoration: none;
    color: #000;
}
.close_p{
    position: absolute;
    left: 75%;
    top: -300%;
}
.form_p{
    position: relative;
    margin-left: 15%;
    padding-top: 10%;
}
.img_slogo{
    height: 96px;
    opacity: 0.2;
    width: 144px;
}
.bgi{
    background-image: url("../image/logo.svg");
    background-repeat:no-repeat;
    background-size: cover;
    height: 50%;
    opacity: 0.3;
    width: 50%;
    position: fixed;
    left:0%;
    top:55%;
    z-index: -1;
}
.a_click{
    border-bottom:2px solid #00A862;
}
.txt_m{
    margin-left: 15%;
    margin-right: 15%
}
/* .click_page{
    position: absolute;;
    left:20rem;
    top:8rem;
} */
.input_pr{
    padding-right: 40%;
    background: none;
    border-top: 3px solid #00A862;
    border-right:3px solid #00A862;
    border-left: 3px solid #00A862;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    display: block;
}
.border_search{
    border: 1px solid #00A862;
    background: #00A862;
    color: #fff;
    display: inline-block;
    padding: 2px 3px;
    font-size: 12px;
    margin-top: 1rem;
}
/* .img_search{
    position: absolute;
    left:13rem;
    top: 0%;
} */
/* .close_p_2{
    position: absolute;;
    left: 33rem;
    top: -4rem;
} */
.pig_p{
    margin-left: 0%;
}
.flex_menu:hover{
    transform: scale(1.1);
    /* transform: translateY(-20%);
    transition-duration: 0.2s */
}
.pic_menu{
    width: 8rem;
    height:8rem;
    border: 1px solid #998877;
    border-radius: 50%;
    /* background-image: url("../image/products/drink/affogato.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto 6px;
    
}
.bottomAd_p{
    position: relative;
    left:1rem;
    top: 14rem;
    z-index:0;
}
.user_bg{
    background:#3D3935;
    width: 80%;
    height:100%;
    margin-left:12%;
    margin-top:3%;
    border:1px solid #3D3935;
    border-radius: 1.8%
}
.user_icon{
    float:right;
    margin:2%;
}
.user_card_bg{
    background-image: url("../image/user/star-bg-gold.svg");
    background-repeat: no-repeat;
    background-position-x:50%;
    width:100%;
    height:27rem;
}
.user_txt{
    color:#fff;
}
.user_border{
    padding: 1rem;
    border-bottom:1px solid #FFF;
}
.user_hr_style{
    width: 100%;
    color:white;
}
.user_txt_size{
    font-weight: bolder;
    font-size:45px;
}
.user_txt_size01{
    font-weight: bolder;
    font-size:30px;
}
.progress_pos{
    width:70%;
    position: relative;
    top: -7%;
    left: 20%;
}
.user_card_bg>span,
.user_card_bg>p{
    position: relative;
    left: 7%;
}
/* .user_card_bg>p{
    position: relative;
    left:10%;
} */
.progress_color{
    background-color:#C2A661;
}
.btn_border{
    width: 50px;
    height:50px;
    border:1px solid #00A862;
    border-radius: 50%;
    background-color: #00A862;
}
.btn_img{
    width: 100%;
    height: 100%
}
.btn_txt{
    margin-left: 10%;
}
.user_txt_size02{
    font-size: 6px;
}
.btn_border_G{
    width: 50px;
    height:50px;
    border:1px solid #C2A661;
    border-radius: 50%;
    background-color:#C2A661;
}
.user_card_bottom{
    position: absolute;
    left:38rem;
    top:30rem;
}
.div_p>span ul>li{
    margin-top: 5%;
}
.div_p_user{ 
    position: fixed;
    top:15rem;  
}
.div_p_user>span ul>li{ 
    margin-top: 5%;
}
.user_vip_card{
   width: 262px;
   height: 165px;
   margin-left: 15%;
   margin-top: 8%;
}
.vip_po{
    height: 13rem;
    float: right;
    position: relative;
    top: 3rem;
    left:1rem;
    border: 0px solid #e0e0e0;
    border-radius: 16%;
    background: #f7f7f7;
    border-top: none;
    padding-right: 10%;
}
.vip_txt_po{
    position: relative;
    top: -10rem;
    left:24rem;
}
.user_btn{
    background: none;
    border: 1px solid #00A862;
    border-radius: 48px;
    color: #00A862;
    padding: 6px 18px;
}
.user_btn01{
    background:#00A862;
    border: 1px solid #00A862;
    border-radius: 48px;
    color: #fff;
    padding: 6px 18px;
}
.gift_wh{
    height: 5rem;
    border: 1px solid #e0e0e0;
    border-top: none;
}
.gift_wh1{
    height: 5rem;
    border: 1px solid  #e0e0e0;
    line-height: 5rem;
    border-top: none;
}
.gift_wh2{
    height: 3rem;
    border: 1px solid  #e0e0e0;
    line-height: 3rem;
    border-top: none;
}
.gift_ul{
    position: relative;
    top: 20%;
    left: 13%;
    width: 80%;
}
.user_txt_size03{
    font-size: 25px;
}
.user_txt_size04{
    font-size: 20px;
    font-weight: bolder;
}
.gift_span{
    position: relative;
    left: 35rem;
}
.gift_span_i{
    position: relative;
    left:35rem;
    top: -4%;
}
.gift_p{
    position: relative;
    left: 8%;
    top: -30%;
}
.gift_p1{
    position: relative;
    left: 8%;
    top: -50%;
}
.gift_i{
    position: relative;
    left: -45%;
    top: 15px;
    width: 100%;
    height: 50%;
}
.gift_wh2>a{
    text-decoration: none;
    color: #00A862;
    position: relative;
    left: 85%;
}
.small_txt{
    font-size: 10px;
}
.price_p{
    position: relative;;
    left: 40rem;
    top: -6rem;
    font-weight: bolder;
    font-size: 17px;
}
.list-unstyled>li>a{
    text-decoration: none;
}
.gift_li_a{
    z-index: 1;
}
.top_sheet_p{
    margin-left: 35%;
    margin-top: 3%;
}
.btn_l{
    color: #FFF;
    background: #00A862;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px; 
    border: 1px solid #00A862;
    width: 20%;
    position: relative;
    left: 1%;
}
.btn_r{
    color:#00A862;
    background:#fff;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px; 
    border: 1px solid #00A862;
    width: 20%;
}
.table_border{
    border: 1px solid #e0e0e0;
    width: 70%;
    position: relative;
    left: 14%;
    text-align: center;
}
/* .table_border>tr>td{
    height: 10%
} */
.table_border tr>td{
    border-bottom: 1px solid #000;
    height: 5rem;
    background: #FFF;
}
.table_border>thead>tr>td{
    border-bottom: 4px solid gray;
}
.table_border>tbody>tr>td{
      padding: 4%;
}
.table_border>tbody>tr td:nth-child(4){
    font-weight: bolder;
    font-size: 25px;
}
.btn_l0{
    color:#00A862;
    background:#FFF;
    border-top-left-radius: 48px;
    border-bottom-left-radius: 48px; 
    border: 1px solid #00A862;
    width: 20%;
    position: relative;
    left: 1%;
}
.btn_r0{
    color:#fff;
    background:#00A862;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px; 
    border: 1px solid #00A862;
    width: 20%;
}
.gift_ul>li{
    background: #fff;
}
#tbody0>tr td:nth-child(3){
    font-weight: bolder;
    font-size: 25px;
}
.starbuck_color{
    color: #00A862;
}
.btn_dropdown_p{
    position: absolute;
    left:15%;
    top:8%;
}
.btn_dropdown_p>span{
    font-weight:bolder;
}
.btn_dropdown_style{
    border:0px;
    background: white;
    border-bottom: 2px solid gray;
}
.btn_dropdown_style:hover{
    border-bottom: 3px solid #00A862;
    cursor: pointer;
}
.dropdown-menu>li>a{
    text-decoration-line: none;
}
.dropdown-menu>li>a:hover{
    border: 1px solid #C2A661;
    background:#C2A661;
    color:#fff;
}
.div_p_user>span>ul>li>a:hover{
    color:#000;
}
.div_p>ul>li>a:hover{
    color:#000;
}
.iframe_s{
    width: 100%;
    height:800px;
}
.gift_h{
    height:5rem;
}
#auto_login{
    visibility: hidden;
}
#auto_login +label::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 40%;
    width: 25px;
    height: 25px;
    border: 1px solid #00A862;
    border-radius:8px;
    transition: all 0.3s;
}
#auto_login +label::after{
    content: "";
    position: absolute;
    left: 4%;
    top: 41%;
    width: 10px;
    height:17px;
    border: 0;
    border-bottom: 1px solid #fff;
    border-right:1px solid #fff;
    background:#fff;
    transform: rotate(45deg);
}
#auto_login:checked::before{
    background:#00A862;
}

#auto_login:checked+label::after{
    background:white;
    border-color:#00A862;
}
